@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 40px auto;
  max-width: 80%;
  line-height: 1.6;
  font-size: 18px;
  background: #fffbe6;
  /* background: linear-gradient(to right, #9296a3, #d7dde8); */
  font-family: "Open Sans", sans-serif;
  padding: 010px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
    max-width: 90%;
  }
}

.search {
  display: block;
  width: 50%;
  border: 3pt solid black;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  top: 20px;
}

.recipe-overview {
  display: flex;
  align-items: center;
}

.recipe-description {
  width: 80%;
  align-items: left;
  margin: 10px;
  padding-right: 30px;
  border: 3pt solid black;
  background-color: #b9e4c9bd;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.main-recipe-image {
  /* do your own width, height */
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
  align-items: right;
}

.recipe-card {
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  display: inline-flex;
  padding: 5px;
  width: 500px;
  /* do your own width, height */
}

.recipe-image {
  /* do your own width, height */
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
  width: 90%;
  border: 3pt solid black;
  border-radius: 10px;
  height: auto;
  object-fit: contain;
  flex: 1;
  position: sticky;
}

.recipe-title {
  /* do your own height */
  overflow: hidden;
  white-space: normal;
}

.recipe-description {
  /* do your own height */
  overflow: hidden;
  white-space: normal;
}

.topnav {
  overflow: hidden;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container > * {
  display: inline-block;
}

.recipe-container {
  overflow: auto;
  white-space: nowrap;
}

.local-prefs-list {
  height: 75px;
  overflow: scroll;
  border: 1pt solid black;
  width: 50%;
}

.logo{
  display: inline-block;
  padding: .5rem .5rem;
  vertical-align: middle;
}


.overall {
  display: grid;
  grid-template-columns: 6fr 4fr;
  column-gap: 1px;
}

.left_panel {
  grid-column: 1;
}

.right_panel {
  grid-column: 2;
}
